	<header id="header" class="center flat-top">
			
				<div class="container text-center">
					<ul class="nav nav-pills nav-top nav-top-right">
						<li class="login">
							<a data-target=".form-wrapper" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-user"></i> <span>Login/Register</span></a>
						</li>
						<li class="shopping-cart">
							<a href="#offcanvas-cart" data-uk-offcanvas><i class="fa fa-shopping-cart"></i> <span>(<span>0</span>)</span></a>
						</li>
					</ul>
					<ul class="nav nav-pills nav-top nav-top-left">
						<li class="dropdown langs">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-globe"></i> <span>English</span> <i class="fa fa-caret-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">French</a></li>
								<li><a href="#">Japanese</a></li>
								<li><a href="#">Danish</a></li>
							</ul>
						</li>
						<li class="search"><a data-target=".search-wrapper" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-search"></i></a></li>
						<li class="menu-icon hidden-lg">
							<a href="#offcanvas" class="uk-navbar-toggle" data-uk-offcanvas>
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
					<h1 class="logo">
						<a href="index-2.html"><img alt="Marvel" src="assets/images/logo2.png"></a>
					</h1>
					
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<app-menubar></app-menubar>
					</div>
				</div>
			</header>