<section class="featured-foot">
						<div class="container">
							<div class="partners-2 text-center">
								<div class="partners-wrap">
									<h3>Our brands</h3>
									<ul class="list-partners">
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-1.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-2.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-3.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-4.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-5.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-6.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-7.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-8.jpg"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>