<section class="product-tab">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pro-tabs mason-tabs text-center" role="tablist">
      <li class="active"><a href="#tshirt" role="tab" data-toggle="tab">T-shirt</a></li>
      <li><a href="#outerwaer" role="tab" data-toggle="tab">Outerwaer</a></li>
      <li><a href="#suits" role="tab" data-toggle="tab">Suits</a></li>
      <li><a href="#jeans" role="tab" data-toggle="tab">Jeans</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="tshirt">
        <div class="row">
          <div class="masonry-m">
            <div class="col-xs-6 col-sm-3 masonry-item" *ngFor="let item of tshirt|async">
              <div class="thumb-item">
                <div class="thumb-item-img">
                  <a href="shop-product-detail-classic.html" class="btn-detail">
                    <img class="img-responsive" src="{{item.imgUrl}}" alt="">
                    <img class="img-responsive" src="{{item.imgHoverUrl}}" alt="">
                  </a>
                  <span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
                </div>
                <div class="thumb-item-content">
                  <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                    <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                  </div>
                  <h3><a href="#">{{item.title}}</a></h3>
                  <p class="product-cat"><a href="#">{{item.categories}}</a></p>
                  <p class="product-price">
                    <ins>{{item.price}}</ins>
                  </p>
                </div>
              </div>
            </div>



          </div>
        </div>


      </div>


      <div class="tab-pane " id="outerwaer">
        <div class="row">
          <div class="masonry-m">
            <div class="col-xs-6 col-sm-3 masonry-item" *ngFor="let item of outerwaer|async">
              <div class="thumb-item">
                <div class="thumb-item-img">
                  <a href="shop-product-detail-classic.html" class="btn-detail">
                    <img class="img-responsive" src="{{item.imgUrl}}" alt="">
                    <img class="img-responsive" src="{{item.imgHoverUrl}}" alt="">
                  </a>
                  <span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
                </div>
                <div class="thumb-item-content">
                  <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                    <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                  </div>
                  <h3><a href="#">{{item.title}}</a></h3>
                  <p class="product-cat"><a href="#">{{item.categories}}</a></p>
                  <p class="product-price">
                    <ins>{{item.price}}</ins>
                  </p>
                </div>
              </div>
            </div>



          </div>
        </div>


      </div>

      <div class="tab-pane " id="suits">
        <div class="row">
          <div class="masonry-m">
            <div class="col-xs-6 col-sm-3 masonry-item" *ngFor="let item of suits|async">
              <div class="thumb-item">
                <div class="thumb-item-img">
                  <a href="shop-product-detail-classic.html" class="btn-detail">
                    <img class="img-responsive" src="{{item.imgUrl}}" alt="">
                    <img class="img-responsive" src="{{item.imgHoverUrl}}" alt="">
                  </a>
                  <span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
                </div>
                <div class="thumb-item-content">
                  <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                    <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                  </div>
                  <h3><a href="#">{{item.title}}</a></h3>
                  <p class="product-cat"><a href="#">{{item.categories}}</a></p>
                  <p class="product-price">
                    <ins>{{item.price}}</ins>
                  </p>
                </div>
              </div>
            </div>



          </div>
        </div>


      </div>

      <div class="tab-pane" id="jeans">
        <div class="row">
          <div class="masonry-m">
            <div class="col-xs-6 col-sm-3 masonry-item" *ngFor="let item of jeans|async">
              <div class="thumb-item">
                <div class="thumb-item-img">
                  <a href="shop-product-detail-classic.html" class="btn-detail">
                    <img class="img-responsive" src="{{item.imgUrl}}" alt="">
                    <img class="img-responsive" src="{{item.imgHoverUrl}}" alt="">
                  </a>
                  <span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
                </div>
                <div class="thumb-item-content">
                  <div class="star-rating pull-right" title="Rated 5.00 out of 5">
                    <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                  </div>
                  <h3><a href="#">{{item.title}}</a></h3>
                  <p class="product-cat"><a href="#">{{item.categories}}</a></p>
                  <p class="product-price">
                    <ins>{{item.price}}</ins>
                  </p>
                </div>
              </div>
            </div>



          </div>
        </div>


      </div>

    </div>
  </div>
</section>
