<div class='main-slides second-slides' *ngIf='items'>  
  <carousel>
    <slide *ngFor='let sale of items | async ' class='slide-item'>
      <img src="{{sale.imgUrl}}" class='img-responsive'>
      <div class="slide-item-caption-wrap">
        <div class="slide-item-caption-cont">
          <div class="slide-item-caption-info">
            <p class="product-cat">Sale day</p>
            <span class="divider bg-color3"></span>
            <h1>{{sale.title}}</h1>
            <h2>{{sale.subheading}}</h2>
            <p class="btn-group hidden-xs"><a href="#" class="btn btn-primary">Buy Now</a> <a href="#" class="btn btn-default">Send it to a friend</a></p>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
