<section class="search-wrap">
  <div class="container">
    <div class="row row-fluid">
      <div class="col-xs-1 col-sm-3">
        <ul class="nav nav-pills nav-main-menu nav-search-menu">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-bars"></i> <span class="hidden-xs">All Categories</span></a>
            <ul class="dropdown-menu">
              <li class="dropdown megamenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icons icon-dress"></i> Women</a>
                <div class="dropdown-menu hidden-xs">
                  <div class="mega-menu-content">
                    <div class="row">
                      <div class="col-sm-3 menu-column">
                        <div class="menu-column-inner">
                          <ul class="list-bold">
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Best sale</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Sale</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-9 menu-column">
                        <div class="menu-column-inner">
                          <div class="row">
                            <div class="col-sm-4">
                              <h3>Tops</h3>
                              <ul>
                                <li><a href="#">Coats and trech coats</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                              <h3>Outerwear</h3>
                              <ul>
                                <li><a href="#">Jeans</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Shoes</a></li>
                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <h3>Jeans</h3>
                              <ul>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                              <h3>Accessories</h3>
                              <ul>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                            </div>
                          </div>
                          <img class="corner-photo" src="images/products/corner-photo-2.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown megamenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icons icon-shirt"></i> Men</a>
                <div class="dropdown-menu hidden-xs">
                  <div class="mega-menu-content">
                    <div class="row">
                      <div class="col-sm-3 menu-column">
                        <div class="menu-column-inner">
                          <ul class="list-bold">
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Best sale</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Sale</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-9 menu-column">
                        <div class="menu-column-inner">
                          <div class="row">
                            <div class="col-sm-4">
                              <h3>Tops</h3>
                              <ul>
                                <li><a href="#">Coats and trech coats</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                              <h3>Outerwear</h3>
                              <ul>
                                <li><a href="#">Jeans</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Shoes</a></li>
                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <h3>Jeans</h3>
                              <ul>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                              <h3>Accessories</h3>
                              <ul>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Suits</a></li>
                                <li><a href="#">Edition</a></li>
                                <li><a href="#">Trousers</a></li>
                              </ul>
                            </div>
                          </div>
                          <img class="corner-photo" src="images/products/corner-photo.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="icons icon-coffee"></i> Foods</a></li>
              <li><a href="#"><i class="icons icon-cosmetics"></i> Cosmetics</a></li>
              <li><a href="#"><i class="icons icon-babytoys"></i> Baby Toys</a></li>
              <li><a href="#"><i class="icons icon-furniture"></i> Furniture - Building</a></li>
              <li><a href="#"><i class="icons icon-jewelry"></i> Jewelry - Glasses</a></li>
              <li><a href="#"><i class="icons icon-cosmetics"></i> Beauty</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-11 col-sm-9">
        <form class="form-inline nav-searchbar">
          <div class="row row-fluid">
            <div class="col-xs-3 col-md-2">
              <div class="form-group">
                <select class="chosen-select" data-placeholder="24" id="searchDropdownBox" data-nav-selected="0">
												<option value="search-alias=aps" selected="selected">All Categories</option>
												<option value="search-alias=instant-video">Amazon Instant Video</option>
												<option value="search-alias=appliances">Appliances</option>
												<option value="search-alias=mobile-apps">Apps &amp; Games</option>
												<option value="search-alias=arts-crafts">Arts, Crafts &amp; Sewing</option>
												<option value="search-alias=automotive">Automotive</option>
												<option value="search-alias=baby-products">Baby</option>
												<option value="search-alias=beauty">Beauty</option>
												<option value="search-alias=stripbooks">Books</option>
												<option value="search-alias=popular">CDs &amp; Vinyl</option>
												<option value="search-alias=mobile">Cell Phones &amp; Accessories</option>
												<option value="search-alias=fashion">Clothing, Shoes &amp; Jewelry</option>
												<option value="search-alias=fashion-womens">&nbsp;&nbsp;&nbsp;Women</option>
												<option value="search-alias=fashion-mens">&nbsp;&nbsp;&nbsp;Men</option>
												<option value="search-alias=fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
												<option value="search-alias=fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
												<option value="search-alias=fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
												<option value="search-alias=collectibles">Collectibles &amp; Fine Art</option>
												<option value="search-alias=computers">Computers</option>
												<option value="search-alias=financial">Credit and Payment Cards</option>
												<option value="search-alias=digital-music">Digital Music</option>
												<option value="search-alias=electronics">Electronics</option>
												<option value="search-alias=gift-cards">Gift Cards</option>
												<option value="search-alias=grocery">Grocery &amp; Gourmet Food</option>
												<option value="search-alias=hpc">Health &amp; Personal Care</option>
												<option value="search-alias=garden">Home &amp; Kitchen</option>
												<option value="search-alias=industrial">Industrial &amp; Scientific</option>
												<option value="search-alias=digital-text">Kindle Store</option>
												<option value="search-alias=fashion-luggage">Luggage &amp; Travel Gear</option>
												<option value="search-alias=magazines">Magazine Subscriptions</option>
												<option value="search-alias=movies-tv">Movies &amp; TV</option>
												<option value="search-alias=mi">Musical Instruments</option>
												<option value="search-alias=office-products">Office Products</option>
												<option value="search-alias=lawngarden">Patio, Lawn &amp; Garden</option>
												<option value="search-alias=pets">Pet Supplies</option>
												<option value="search-alias=pantry">Prime Pantry</option>
												<option value="search-alias=software">Software</option>
												<option value="search-alias=sporting">Sports &amp; Outdoors</option>
												<option value="search-alias=tools">Tools &amp; Home Improvement</option>
												<option value="search-alias=toys-and-games">Toys &amp; Games</option>
												<option value="search-alias=videogames">Video Games</option>
												<option value="search-alias=wine">Wine</option>
											</select>
              </div>
            </div>
            <div class="col-xs-7 col-md-9">
              <div class="form-group">
                <label class="sr-only" for="txtsearch">Search product here</label>
                <input type="text" class="form-control" id="txtsearch" placeholder="Search product here">
              </div>
            </div>
            <div class="col-xs-2 col-md-1 pull-right">
              <button type="submit" class="btn btn-default">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>