<section class="latest-posts highlight-latest-post">
  <div class="container">
    <article class="post post-mid">
      <div class="row row-fluid">
        <div class="col-sm-6" *ngFor='let item of items|async'>
		
          <div class="post-image">
            <a href="blog-single.html"><img class="img-responsive" src="{{item.imgUrl}}" alt="Blog"></a>
          </div>
        </div>
        <div class="col-sm-6"  *ngFor='let item of items|async'>
          <div class="row row-fluid post-head">
            <div class="col-xs-2 post-date">
              <span class="day">{{item.price}}</span>
              <span class="month-year">only</span>
            </div>
            <div class="post-meta">
              <h3><a href="blog-single.html">{{item.title}}</a></h3>
              <p><span>In <a href="#">{{item.subtitle}}</a></span>
                
            </div>
          </div>
          <div class="post-content">
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
