<section class="main-content-wrap">
					<div class="container">
						<div class="owl-carousel main-slides second-slides" data-plugin-options='{"items": 1, "autoPlay": false, "navigation": true}'>
							<div class="slide-item">
								<img class="img-responsive" src="assets/images/slides/slide-1.jpg" alt="">
								<div class="slide-item-caption-wrap">
									<div class="slide-item-caption-cont">
										<div class="slide-item-caption-info">
											<p class="product-cat">Sale day</p>
											<span class="divider bg-color3"></span>
											<h1>$50 off</h1>
											<h2>on orders over $199</h2>
											<p class="btn-group hidden-xs"><a href="#" class="btn btn-primary">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide-item">
								<img class="img-responsive" src="assets/images/slides/slide-2.jpg" alt="">
								<div class="slide-item-caption-wrap">
									<div class="slide-item-caption-cont">
										<div class="slide-item-caption-info">
											<p class="product-cat">Sale day</p>
											<span class="divider bg-color3"></span>
											<h1>All The Trends</h1>
											<h2>You Need This Season</h2>
											<p class="btn-group hidden-xs"><a href="#" class="btn btn-primary">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide-item">
								<img class="img-responsive" src="assets/images/slides/slide-3.jpg" alt="">
								<div class="slide-item-caption-wrap">
									<div class="slide-item-caption-cont">
										<div class="slide-item-caption-info">
											<p class="product-cat">Sale day</p>
											<span class="divider bg-color3"></span>
											<h1>Luxury Collection</h1>
											<h2>on orders over $399</h2>
											<p class="btn-group hidden-xs"><a href="#" class="btn btn-primary">Shop Men's</a> <a href="#" class="btn btn-default">Shop Women's</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<section class="highlight-shop grid-pro">
						<div class="container">
							<div class="row">
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-1.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Long Sleeve Shirts</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-2.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Jean</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-3.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Shirts</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-4.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Bags</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-5.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Watches</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
								<div class="col-xs-6 col-sm-4">
									<div class="cat-thumb-item cat-thumb-item-grid">
										<img alt="Autumn / Winter 2014" src="assets/images/products/lg-product-6.jpg" class="img-responsive">
										<div class="cat-caption bg-color7">
											<h3><a href="#">Accessories</a></h3>
											<p><a href="#">Shop now</a></p>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</section>
					
					<section class="banner">
						<div class="container">
							<div class="banner-inner bg-color6">
								<div class="row">
									<div class="col-sm-5 col-md-6">
										<h4>Sign up for updates</h4>
										<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia<br>deserunt mollit anim id est laborum.</p>
									</div>
									<div class="col-sm-7 col-md-6">
										<form class="form-newsletter form-inline" role="form">
											<div class="form-group">
												<label class="sr-only" for="exampleInputEmail3">Email address</label>
												<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your email">
											</div>
											<button type="submit" class="btn btn-primary">Subscribe</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					<section class="product-tab">
						<div class="container">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs pro-tabs mason-tabs text-center" role="tablist">
								<li class="active"><a href="#tshirt" role="tab" data-toggle="tab">T-shirt</a></li>
								<li><a href="#outerwaer" role="tab" data-toggle="tab">Outerwaer</a></li>
								<li><a href="#suits" role="tab" data-toggle="tab">Suits</a></li>
								<li><a href="#jeans" role="tab" data-toggle="tab">Jeans</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="tshirt">
									<div class="row">
										<div class="masonry-m">
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-1.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-1-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-3.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-3-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-4.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-4-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-7.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-8.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="masonry-m">
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-5.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-5-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-6.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-9.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-8.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-7.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-10.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-10-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="outerwaer">
									<div class="row">
										<div class="masonry-m">
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-5.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-5-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-6.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-7.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-8.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-6.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-10.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-10-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="suits">
									<div class="row">
										<div class="masonry-m">
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-5.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-5-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-8.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-9.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-11.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-11-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="jeans">
									<div class="row">
										<div class="masonry-m">
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-13.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-13-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 masonry-item">
												<div class="thumb-item">
													<div class="thumb-item-img">
														<a href="shop-product-detail-classic.html" class="btn-detail">
															<img class="img-responsive" src="assets/images/products/product-12.jpg" alt="">
															<img class="img-responsive" src="assets/images/products/product-12-over.jpg" alt="">
														</a>
														<span class="thumb-act thumb-act-first">
															<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
															<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
															<a href="#"><i class="fa fa-heart-o"></i></a>
															<a href="#"><i class="fa fa-exchange"></i></a>
														</span>
													</div>
													<div class="thumb-item-content">
														<div class="star-rating pull-right" title="Rated 5.00 out of 5">
															<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
														</div>
														<h3><a href="#">Silver Stainless Steel</a></h3>
														<p class="product-cat"><a href="#">Bags</a>, <a href="#">Accessories</a></p>
														<p class="product-price"><ins>$280.00</ins></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					<section class="parallax">
						<div class="container mask3" style="background-image: url(assets/images/bg/bg-demo-5.jpg);">
							<div class="text-center">
								<h3>Gift voucher</h3>
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<a href="#" class="btn btn-primary btn-lg">Get Gift Voucher</a>
							</div>
						</div>
					</section>
					
					<section class="highlight-thumbs">
						<div class="container">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<h3>Latest deals</h3>
									<div class="thumb-item">
										<div class="thumb-item-img">
											<img class="img-responsive" src="assets/images/products/product-9.jpg" alt="">
											<span class="thumb-act thumb-act-first">
												<a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i></a>
												<a data-target="#quickview-detail" data-toggle="modal" href="javascript:void(0);"><i class="fa fa-eye"></i></a>
												<a href="#"><i class="fa fa-heart-o"></i></a>
												<a href="#"><i class="fa fa-exchange"></i></a>
											</span>
										</div>
										<div class="thumb-item-content">
											<div class="star-rating pull-right" title="Rated 5.00 out of 5">
												<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
											</div>
											<h3><a href="#">Silver Stainless Steel</a></h3>
											<p class="product-price"><del>$150.00</del> <ins>$280.00</ins></p>
										</div>
									</div>
									<div class="countdown countdown-big" data-countdown="Jul 7, 2014 5:30:00"></div>
								</div>
								<div class="col-xs-6 col-md-3">
									<h3>Must have</h3>
									<ul class="list-thumbs-pro">
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-1.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-2.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-6.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-7.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-xs-6 col-md-3 clear-left">
									<h3>On Sale</h3>
									<ul class="list-thumbs-pro">
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-3.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-4.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-5.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-11.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-xs-6 col-md-3">
									<h3>Best Seller</h3>
									<ul class="list-thumbs-pro">
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-13.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-12.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-10.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
										<li class="product">
											<div class="thumb-item">
												<div class="thumb-item-img">
													<a href="#"><img width="80" src="assets/images/products/product-9.jpg" alt=""></a>
												</div>
												
												<div class="thumb-item-content">
													<h3><a href="#">Striped full skirt</a></h3>
													<div class="star-rating" title="Rated 5.00 out of 5">
														<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
													</div>
													<p class="product-price"><ins>$280.00</ins></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					
					<section class="featured-foot">
						<div class="container">
							<div class="partners-2 text-center">
								<div class="partners-wrap">
									<h3>Our brands</h3>
									<ul class="list-partners">
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-1.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-2.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-3.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-4.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-5.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-6.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-7.jpg"></a>
										</li>
										<li>
											<a href="#" target="_blank"><img alt="Partner" src="assets/images/partners/partner-8.jpg"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					
					<section class="latest-posts highlight-latest-post">
						<div class="container">
							<article class="post post-mid">
								<div class="row row-fluid">
									<div class="col-sm-6">
										<div class="post-image">
											<a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/demo-blog-1.jpg" alt="Blog"></a>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row row-fluid post-head">
											<div class="col-xs-2 post-date">
												<span class="day">07</span>
												<span class="month-year">Nov 2014</span>
											</div>	
											<div class="post-meta">
												<h3><a href="blog-single.html">Image Post Type</a></h3>
												<p><span>By <a href="#">John Doe</a></span>
												<span>in <a href="#">Blog</a></span>
												<span><i class="fa fa-comment-o"></i> <a href="#">212</a></span></p>
											</div>
										</div>
										<div class="post-content">
											<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
										</div>
									</div>
								</div>	
							</article>
						</div>
					</section>
					
				</section>